<% layout('./boilerplate/boilerplate2.ejs')%>
<div class="div container-md d-flex justify-content-center" style="padding-top: 10%;" >
    <main class="bg-white px-5 py-4 rounded w-75 ">
        <%- include('../partials/flash.ejs')%>
    <h1 class="text-dark mb-4">Log In</h1>
    <form action="/login" method="POST">
        <div class="mb-3 needs-validation" novalidate>
            <label for="username" class="form-label text-black">Username:</label>
            <input type="text" name="username" id="username" class="form-control" required >
        </div>
        <div class="mb-3 needs-validation" novalidate>
            <label for="password" class="form-label text-black">Password:</label>
            <input type="password" name="password" id="password"class="form-control" required>
        </div>
        <button class=" btn btn-lg btn-success w-100 my-4">Log In</button>
    </form>
    </main>

</div>
