
<header class="w-75" style="letter-spacing: 3px;">
    <div id="nav">
        <a class="navlink" href="/"><img src="/images/bciit.png" style="color: white;"></a>
        <a  class="navlink" href="/technical">TECHNICAL</a>
        <a class="navlink" href="/eco">ECO</a>
        <a class="navlink"  href="/sports">SPORTS</a>
        <a class="navlink "  href="/cultural">CULTURAL</a>
        <a class="navlink "  href="/event">EVENTS</a>
        <div class=" w-75 d-flex justify-content-end">
            <a class="navlink border-end px-3"  href="/join">JOIN CLUBS </a>
            <a  class="navlink px-3 border-end " href="/notifications">NOTIFICATIONS</a>
            <a  class="navlink px-3 " href="/allmembers">MEMBERS</a>
            <!-- <a  class="navlink  px-3" href="/register">REGISTER</a>
            <a class="navlink  px-3" href="/logout">LOGOUT</a> -->
        </div>
    </div>
  
</header>