<%- layout('./boilerplate/boilerplate2.ejs') %>

<div class="container w-50" style="padding-top: 10%">
    <div class="alert alert-danger" role="alert" >
        <h4 class="alert-heading"><%= err.message %></h4>
        <p><%= err.stack %></p>
      </div>
</div>
